@import "tailwindcss";

@theme {
  --color-primary: #F97316;
  --color-dark: #050505;
  --color-card: #0A0A0A;
}

body {
  background-color: #050505;
  color: white;
}

::selection {
  background-color: #F97316;
  color: white;
}